* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#timer {
    background-color: #000;
    color: yellow;
}

#correct {
    background-color: aqua;
    color: blue;
}

#wrong {
    background-color: tomato;
    color: red;
}